<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Spring MVC Annotation -->
	<context:annotation-config />
	
	<!-- Dieu kien can va du -->
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**"
		location="/resources/" />
		
		
	<!-- Cau hinh views -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	
	<!-- Cấu hình package chứa các controller -->
	<context:component-scan
		base-package="com.sach.controller" />
		
		
	<!-- Bean -->

	<!--Gmail -->
	<!-- Spring Mail Sender -->
	<!-- <bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="user@gmail.com" />
		<property name="password" value="password" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">587</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean> -->

	<!-- Hibernate -->
	<!-- Kết nối CSDL -->
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		p:url="jdbc:sqlserver://localhost:1433; Database=QL_BANSACH"
		p:username="sa" p:password="2203">
	</bean> -->

	<!-- Cấu hình Hibernate -->
	<!-- <bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.sach.entity" />
	</bean> -->

	<!-- Transaction Manager -->
	<!-- <bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
	<tx:annotation-driven
		transaction-manager="transactionManager" /> -->



	<!-- Cấu hình interceptor -->
	<!-- <mvc:interceptors>
		Lọc tất cả các URL
		<bean class="poly.interceptor.LoggerInterceptor" />

		Chỉ lọc các URL theo path <mvc:interceptor> <mvc:mapping path="/home/**"/> 
			<mvc:exclude-mapping path="/home/index.htm"/> <bean class="poly.interceptor.LoggerInterceptor" 
			/> </mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<mvc:mapping path="/order/**" />
			<mvc:exclude-mapping path="/user/login.htm" />
			<mvc:exclude-mapping path="/user/register.htm" />
			<mvc:exclude-mapping
				path="/user/forgot-password.htm" />
			<mvc:exclude-mapping path="/user/activate.htm" />
			<bean class="com.sach.interceptor.SecurityInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->



	<!-- Bundle Resources -->
	<!-- <bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="basenames">
			<list>
				<value>classpath:global</value>
				<value>classpath:home.index</value>
				<value>classpath:home.about</value>
			</list>
		</property>
	</bean> -->

	<!-- upload -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- maxUploadSize=20MB -->
		<property name="maxUploadSize" value="20971520" />
	</bean>

	<!-- -->

</beans>